<h1><%= @animal.species %></h1>

<% if @animal.sightings.any? %>
  <h4>Here are the sightings for this animal:</h4>

    <% @animal.sightings.each do |sighting| %>
        <ul>
          <h3><%= sighting.region %></h3>
          <li><%= sighting.latitude %></li>
          <li><%= sighting.longitude %></li>
          <li><%= sighting.date %></li>
          <%= link_to "Edit", edit_animal_sighting_path(@animal, sighting) %> |
          <%= link_to "Delete", animal_sighting_path(@animal, sighting),
                                   :data => {:confirm => "Are you sure?",
                                                  :method => "delete"} %>
        </ul><br>
    <% end %>
<% else %>
  <p>There are no sightings yet!</p>
<% end %>

<p><%= link_to "Add a sighting", new_animal_sighting_path(@animal) %></p>
<p><%= link_to "Delete", animal_path(@animal),
                        :data => {:confirm => "You sure?",
                                  :method => "delete"} %></p>

<p><%= link_to "Return to animals", animals_path %></p>
